body {
    background-color: #121212;
}

nav {
    min-height: 7dvh;
    max-height: 7dvh;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

#spotifylogo {
    filter: invert(100%);
    max-height: 6dvh;
}


.Nav-icon {
    filter: invert(70%);
    height: 4.5dvh;
    width: 4.5dvh;
}

#homebutton {
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.065);
    align-content: center;
    text-align: center;
    height: 6dvh;
    width: 6dvh;
    margin-left: 365px;
    margin-right: 5px;
}

#searchicon {
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 8px;
    max-height: 4dvh;
    max-width: 4dvh;
}

#searchbar {
    display: flex;
    background-color: rgba(255, 255, 255, 0.05);
    align-content: center;
    text-align: center;
    height: 6dvh;
    border-radius: 40px;
    padding: 2px;
    color: rgba(255, 255, 255, 0.65);
    margin-right: 85px;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

 #searchbar-divider {
    margin-left: 150px;
    font-size: x-large;
    align-self: center;
}

#laundryicon {
    margin-top: 6px;
    margin-right: 4px;
}

#Nav-right {
    display: flex;
    color: rgba(255, 255, 255, 0.65);

    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.righttext {
    margin-right: 7px;
    align-self: center;
}

#Nav-rightdivider {
    font-size: x-large;
    align-self: center;
    margin-left: 5px;
}

#downloadbutton {
    border: 2px solid #121212;
    filter: invert(70%);
    border-radius: 100%;
    max-height: 15px;
    max-width: 15px;
    align-self: center;
    margin-left: 15px;
    margin-right: 5px;
}

#login {
    height: 6dvh;
    color: black;
    background-color: white;
    align-self: center;
    width: 100px;
    text-align: center;
    border-radius: 30px;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
}

aside {
    background-color: rgba(255, 255, 255, 0.05);
    height: 675px;
    width: 325px;
    margin-left: 3px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#right-main {
    background-color: rgba(255, 255, 255, 0.05);
    height: 675px;
    width: 1200px;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: 10px;
    border-radius: 10px;
}

#header1 {
    color: white;

    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#album-section {
    display: grid;
    grid-template-columns: repeat(8, 125px);
    justify-content: space-around;
    height: 500px;
    margin: 10px;
}

.album-card {
    display: flex;
    flex-direction: column;
    
    width: 120px;
    height: 250px;
}

.albumcover {
    width: 120px;
    height: 120px;
    border-radius: 5px;
}

.albumname {
    display: flex;
    flex-flow: row wrap;
    line-height: 1rem;
    margin: 0;
    padding: 0;
    padding-top: 7px;

    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}


.artistname {
    display: flex;
    flex-flow: row wrap;
    line-height: 1rem;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    
    color: rgba(255, 255, 255, 0.65);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
}

.liststyle {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1px;
}

#library-section {
    display: flex;

}

#plusicon {
    filter: invert(50%);
    height: 15px;
}
